nav{
    align-items: center;
    height: 8vh;
    position: absolute;
    background-color: black;
    width: 100%;
    top:0;
    color: white;
    font-size: 4vh;
    font-family: arial;
    display: flex;
}

nav p{
    margin-left: 2vh;
}

nav img{
    margin-left: 1vh;
    border-radius: 5vh;
    width: 5vh;
    height: 5vh;
    background-color: white;
}